<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Patient Health Data</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styledash.css">
  <link rel="stylesheet" href="/css/stylenu.css">


{{!-- </head>
<body>
	{{!-- NAVBAR (consistent across all handlebar pages) --}}
<div>
  <nav class="navbar navbar-expand-lg custom-nav">
  	<a class="navbar-brand" href="/">
  		<h2 class="text-main custom-head "></span></h2>
  	</a>
      <button 
        class="navbar-toggler " 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class=".navbar-light navbar-toggler-icon"></span>
      </button>
      <div class="flex-row-reverse collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav pr-5">
        {{#if logged_in}}
        <a class="nav-item nav-link nav-color custom-link" href="/">Home</a>
        <a class="nav-item nav-link nav-color custom-link" href="/profile">Profile</a>
        <a class="nav-item nav-link nav-color custom-link" href = "/" id="logout">Logout</a>
        {{else}}
        <a class="nav-item nav-link nav-color custom-link" href="/">Home</a>
        <a class="nav-item nav-link nav-color custom-link" href="/login">Login</a>
        <a class="nav-item nav-link nav-color custom-link" href="/signup">Sign up</a>
        {{/if}}
        </div>
      </div>
  </nav>
</div>


<main> 
	{{{ body }}}
</main>


{{#if logged_in}}
   <script src="/js/logout.js"></script>
{{/if}}

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" 
  integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" 
  crossorigin="anonymous">
</script>
</body> --}}

</html>