<header>My Health</header>
    <nav class="sidebar">
        <a href="" class="side-item">Account</a>
        <a href="" class="side-item">Allergies</a>
        <a href="" class="side-item">Conditions</a>
        <a href="" class="side-item">Medications</a>
    </nav>
    <a href="newConditionsForm.handlebars">button id="condition-add" class="addButton">Add Condition</button></a>
    <div class="card">
        <header class="card-title"
            <h1>My Conditions</h1>
        </header>
        <div class="card-info"
           {{conditions.condition_name}}
           <br>
           {{conditions.years}}
        </div>
    </div>
    <script src="../public/js/profile.js"></script>