<div class='login-page'>
  <div class='form'>
    <form class='login-form'>
      <input type='text' placeholder='Email' id='email-login' />
      <input type='password' placeholder='Password' id='password-login' />
      <button>Sign In</button>
    
    </form>
  </div>
</div>
<script src='../public/js/login.js'></script>