<div class='login-page'>
  <div class='form'>
    <form class='login-form'>
      <input type='text' placeholder='Email' id="email-login" />
      <input type='password' placeholder='Password' id="password-login" />
      <button>Sign In</button>
      <p class='new-user'>New User? <a href='/views/signup.handlebars'>Create an Account</a></p>
    </form>
  </div>
</div>