<div class='login-page'>
  <div class='form'>
    <form class='login-form'>
      <input type='text' placeholder='Email' />
      <input type='password' placeholder='Password' />
      <button>Sign In</button>
      <p class='new-user'>New User? <a href=''>Create an Account</a></p>
    </form>
  </div>
</div>