<header>My Health</header>
    <nav class="sidebar">
        <a href="" class="side-item">Account</a>
        <a href="" class="side-item">Allergies</a>
        <a href="" class="side-item">Conditions</a>
        <a href="" class="side-item">Medications</a>
    </nav>
    <div class="card">
        <header class="card-title"
            <h1>My Medications</h1>
        </header>
        <div class="card-info"
            <ul>
                <li></li>
            </ul>
    </div>