<div class='add-allergy-container'>
  <form class='new-allergy-form'>
    <label for='allergy_name'>
      Allergy Name:
    </label>
    <br />
    <textarea id='allergy_name' rows='2' cols='30'>
      {{allergies.allergy_name}}
    </textarea>
  </form>
</div>
<script src='../public/js/profile.js'></script>