<div class='add-surgery-container'>
  <form class='new-surgery-form'>
    <label for='surgery_name'>
      Surgery Name:
    </label>
    <br />
    <textarea id='surgery_name' rows='2' cols='30'>
      {{surgeries.surgery_name}}
    </textarea>
  </form>
</div>
<script src='../public/js/profile.js'></script>