   <!-- The conditions form -->
    <div class="form-popup" id="conditionsForm">
      <form class="form-container">
        <h1>Add a Medical Condition</h1>

        <label for="conditions"><b>Condition</b></label>
        <input
          type="text"
          placeholder="What is your condition?"
          name="condition"
          required
        />

        <label for="length"><b>Length of Condition</b></label>
        <input
          type="text"
          placeholder="How long have you had this condition?"
          name="length"
          required
        />

        <button type="submit" class="btn">ADD</button>
        <button type="button" class="btn cancel" onclick="closeFormA()">
          Cancel
        </button>
      </form>
    </div>
    <!-- end form -->
    <!-- The prescriptions form -->
    <div class="form-popup" id="prescriptionsForm">
      <form action="/action_page.php" class="form-container">
        <h1>Add a Prescription</h1>

        <label for="prescriptions"><b>Condition</b></label>
        <input
          type="text"
          placeholder="What is the name of the Prescription?"
          name="prescriptions"
          required
        />

        <label for="dosage"><b>Dosage</b></label>
        <input
          type="text"
          placeholder="What is your dosage?"
          name="dosage"
          required
        />

        <button type="submit" class="btn">ADD</button>
        <button type="button" class="btn cancel" onclick="closeFormB()">
          Cancel
        </button>
      </form>
    </div>
    <!-- end form -->
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <img src="../src/images/capsules.png" width="40px" alt="" />
          <span class="logo-name">Health Data Tracker</span>
        </div>
        <div class="searchbox">
          <form>
            <input type="text" placeholder="Search" />
            <i class="search-icon" data-feather="search"></i>
          </form>
        </div>
        <div class="navitem">
          <div class="icons">
            <ul>
              <li><i data-feather="mail"></i></li>
              <li><i data-feather="bell"></i></li>
            </ul>
          </div>
          <div class="account">
            <img src="../src/images/user.png" width="25px" alt="" />
            <span class="profile-name">{{patient.name}}</span>
            <span class="patient-id">{{patient.id}}</span>
          </div>
        </div>
      </div>
      <div class="container-body">
        <div class="sidebar">
          <ul>
            <li class="dashboard">
              <i data-feather="user"></i>
              <a href="#">Profile</a>
            </li>

            <li class="">
              <i data-feather="plus-square"></i>
              <a href="#" id="new-condition-btn" onclick="openFormA()"
                >Add New Condition</a
              >
            </li>
            <li class="">
              <i data-feather="plus-square"></i>
              <a href="#" id="new-condition-btn" onclick="openFormA()"
                >Add New Prescription</a>
            </li>
            <li class="">
              <i data-feather="plus-square"></i>
              <a href="#" id="new-condition-btn" onclick="openFormA()"
                >Add New Allergy</a>
            </li>
            <li class="">
              <i data-feather="plus-square"></i>
              <a href="#" id="new-condition-btn" onclick="openFormA()"
                >Add New Surgery</a>
            </li>

          
          </ul>
        </div>
        <div class="main-body">
          <div class="title">
            <span class="greeting">Hello {{patient.name}},</span>
            <h2>Overview</h2>
          </div>
          <div class="cards">
            <!-- start row 1 -->
            {{#each conditions as |condition| }}
            <div class="row row-1">
              <h3 class="card-title">Conditions</h3>
            </div>
            {{/each}}
            <!-- start row 2 -->
            {{#each prescriptions as |prescription| }}
            <div class="row row-2">
              
            </div>
            {{/each}}
            <!-- start row 3 -->
            {{#each allergies as |allergy| }}
            <div class="row row-3">
              
            </div>
            {{/each}}
            <!-- start row 4 -->
            {{#each surgeries as |surgery| }}
            <div class="row row-4">
              
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>

