<header>
      <h1>My Health</h1>
      <h1>Update Account</h1>
    </header>
    <nav class="sidebar">
      <a href="" class="side-item">Account</a>
      <a href="" class="side-item">Allergies</a>
      <a href="" class="side-item">Conditions</a>
      <a href="" class="side-item">Medications</a>
    </nav>
    <div class="card">
      <header class="card-title"
          <h1>My Account</h1>
      </header>
      <div class="card-info"
         <h1>{{patient.name}}</h1> 
          <br>
          {{patient.age}}
          <br>
          {{patient.email}}
    </div>
    <div class="condition">
      <h1>My Conditions</h1>
      {{#each conditions as |condition|}}
    </div>
    <script src="../public/js/signup.js"></script>