<div class="signup-page">
      <div class="form">
        <form class="signup-form">
          <input type="text" placeholder="Name"/>
          <input type="text" placeholder="Email"/>
          <input type="password" placeholder="Password" />
          <button>Create Account</button>
          <p class="current-user">Already have an account? <a href="">Sign In</a></p>
        </form>
      </div>
    </div>