<div class='signup-page'>
  <div class='form'>
    <form class='signup-form'>
      <input type='text' placeholder='Name' id='name-signup' />
      <input type='text' placeholder='Email' id='email-signup' />
      <input type='password' placeholder='Password' id='password-signup' />
      <button>Create Account</button>
      <p class='current-user'>Already have an account?
        <a href=''>Sign In</a></p>
    </form>
  </div>
</div>